@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@500&display=swap');

html{
    font-size: 62.5%;
    // max-width: 100px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    // font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
    font-family: 'Georama', sans-serif;
   
}

//=========================nav-bar=============================
main{
    width: 100vw!important;
    // overflow-x: hidden;
}

.logo a{
    color: black;
    font-family: 'Lobster', cursive!important;
    letter-spacing: .2rem;
    span{
        color: yellow;
        letter-spacing: .2rem;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 0px rgba(206,89,55,0.47);
    }
}
// .links-container{
//     align-items: center;
//     text-align: center;
// }

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
//     background-color:whitesmoke;
    z-index: 100;
}
.side-bar {
    display: none;
}
.nav-center{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 2rem;
    padding: 10px;
    width: 100vw;
    height: auto;
    background: rgba(243, 243, 243, 0.952);
    box-shadow: 1px 17px 31px -22px rgba(0,0,0,0.75);
}
.links{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Georama', sans-serif;


    a{
        color:rgb(109, 106, 106);
        padding: 1rem;
        font-size: 1.7rem;
        font-weight: bold;
        transition: all .3s ease-in-out;
    }
    li{
        transition: all .3s ease-in-out;
    }
    
    li:hover{
        transform: scale(1.2);
    }
}
// .fixed-nav{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     background-color:whitesmoke;
    
// }


@media screen and (max-width: 900px){
    .nav-center{
        display: flex;
        flex-direction: column; 
    }
    .logo{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .side-bar{
        font-size: 2.5rem;
        background: transparent;
        border: transparent;
        display: block;
    }
    .side-bar:hover{
        transform: rotate(90deg);
    }
    .links-container{
        height: 0;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }

    .show-links{
        height: auto; 
    }
    .links a{
        padding-right:100%;
    }
    .links li{
        padding: 1rem 0rem;
        transition: all .3s ease-in-out;
        width: 100vw;
    }
    .link li{
        width: 100vw;
    }
    .links li:hover{
        transform: scale(1.0);
        padding-left: 1rem;
        background: turquoise;
    }
}



//----------------------navbar-end-------------------------------

//======================banner===================================
main{
    background: url(./images/hero.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}
.banner{
    display: grid;
    place-items: center;
    text-align: center;
    position: relative;
    height: 100vh;

}
.center{
 background: rgba(214, 81, 81, 0.918);
 border-radius: 1rem;
 height: auto;
 width: auto;
 color: white;
 padding: 2rem;
 font-family: 'Georama', sans-serif;
 text-transform:capitalize;
 h1{
     font-weight: bolder;
     text-transform: uppercase;
     font-size: 3rem;
     padding: .5rem;
     letter-spacing: .3rem;

 }
 p{
     font-size: 1.5rem;
     padding: 1rem;
    letter-spacing: .1rem;

 }
 .click{
     background: transparent;
     border: solid rgb(255, 255, 255) .3rem;
     padding: .6rem 2rem;
     margin: 1rem 0rem;
     font-family: 'Georama', sans-serif;
     color: white;
     letter-spacing: .3rem;
     
 }

}
//-------------------------------------------------------------------------------------

.overlay{
    position: absolute;
    top:0;
    left:0;
    background: rgba(255, 127, 80, 0.322);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    // transform:translate(-50,-50);
    display: grid;
    place-items: center;
    text-align: center;
    // height: 90vh;
    z-index: 10;
}
.visible{
    visibility: visible;
}
.overlay-container{
 background: rgb(226, 219, 219);
 border-radius: 1rem;
 height: auto;
 width: auto;
 color: white;
 padding: 10rem;
 position: relative;
 h1{
     font-weight: bolder;
     text-transform: uppercase;
     font-size: 3rem;
     padding: .5rem;

 }
 .cros{
     background: transparent;
     border:transparent;
     font-size: 3rem;
     position: absolute;
    //  transform: rotate(90deg);
     top:2rem;
     right:2rem;
 }
 .cros:hover{
     cursor: pointer;
     color: red;
 }

}
//---------------------menu-------------------------------
.menu{
    background: #e7e9eb;
    min-height: 100vh;

}
.head{
    font-size: 5rem;
    text-align: center;
    // align-items: center;
    padding-top: 3rem;
    position: relative;
    justify-content: center;
    text-transform: capitalize;
    // background-color:yellow;
    // width: 100vw;
    span{
        color: rgb(236, 195, 12);
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    }
}
.head::after{
    content: '';
    position: absolute;
    border: .2rem solid rgb(236, 195, 12);
    width: 10rem;
    left:46%;
    bottom:-.9rem;
}
.btn-container{
    // background-color:burlywood;
    display: flex;
    justify-content: center;
    margin: 5rem;
}
.filter-btn{
    padding: 1rem 2rem;
    margin: 2rem;
    text-transform: uppercase;
    border-radius: 1rem;
    border: solid rgb(236, 195, 12);
    color: rgb(206, 169, 7);
    font-weight: bold;
    transition: all .4s ease-in-out;
}
.filter-btn:hover{
    box-shadow: 3px 3px 30px 1px rgba(204, 198, 117, 0.75) inset;
    background: rgb(236, 195, 12);
    color:white;
}
.menu-items{
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.photo {
    object-fit:cover;
    height: 17rem;
    width: 25rem !important;
    border: .4rem solid rgb(221, 164, 19);
    // transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
    border-radius: 1rem;
  }
  .discription{
      display: flex;
    //   background-color: rgb(233, 233, 217);
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dotted black;
      padding: 0 0 0.3rem 0;
      text-transform: capitalize;
    //   background-color: yellow;
      h2{
        letter-spacing: 3px;
        font-size: 1.8rem;
      }
      .price{
        font-size: 1.5rem;
        font-weight: 900;   
        letter-spacing: .5rem;
        color: rgb(245, 190, 11);
      }
  }
  .item{
      display: flex;
  }
  .menu-desc{
     font-size: 1.5rem;
     padding: 2rem 0rem;
     text-align: justify;
     color: rgb(116, 114, 114);
     text-transform:capitalize;
  }
  .moon{
    background:rgb(109, 106, 106)!important;
    color: white;
    color: 'rgb(109, 221, 230)','rgb(230, 148, 148)','rgb(133, 228, 133)','rgb(230, 230, 163)';
}

  .menu-info{
      display: flex;
      flex-direction: column;
    //   background-color: rgb(229, 229, 226);
      margin: 0rem 1rem;
  }

  @media screen and (max-width: 900px){
    .filter-btn{
        padding: .5rem 1rem;
        margin: 1rem .5rem;
        text-transform: uppercase;
        border-radius: 1rem;
        border: solid rgb(236, 195, 12);
        color: rgb(206, 169, 7);
        font-weight: bold;
        transition: all .4s ease-in-out;
    }
    .menu-items{
        margin: 0 auto;
        max-width: 1170px;
        display: grid;
        gap: 3rem 2rem;
        justify-items: center;
        width: 100vw;
        grid-template-columns: 1fr;
        margin-top: 5rem;
        padding-bottom: 5rem;
      }
  }
  //===============================video-container==================================
.video1{
    display: grid;
    place-items: center;
    position: relative;
    min-height: 100vh;
}
.container1{
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 50;
    
}
.king-size{
    display: absolute;
    z-index: 100;
    color: white;
    text-transform: uppercase;
    font-size: 5rem;
    // background-color: rgba(0, 0, 0, 0.233);
}
    
.btn-container1{
    position: absolute;
  bottom: 7%;
  z-index: 200;
  left: 7%;
  width: 10rem;
  height: 4rem;
  display: flex;
  border-radius: 1rem;
  align-items: center;
  justify-content:space-around;
  border: none;
//   margin: 0;
  transition: all .3s ease-in-out;
  span{
    display: inline-block;
    // font-size: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    color:rgb(68, 125, 231);
    font-weight: bold;
    // margin-left:2rem;
    }
}
    

.switch{
    position: absolute;
    left:0;
    top: 0;
    width: 5rem;
    height: 4rem;
    background-color: rgb(68, 125, 231);
    border-radius: 1rem;
    transition: all .3s ease-in-out;
}
.slide{
    left: 50%;
}
//--------------------------------video end---------------------------------------


// ====================(counter)======================
.counter{
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: whitesmoke;
    // text-transform: capitalize;
}
.counter-one{
    font-size: 5rem;
    text-transform: capitalize;
    padding-bottom: 2rem;
}
.number{
    font-size: 8rem;
    font-weight: bolder;
    padding-bottom: 2rem;
}
.btn{
    background: transparent;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: .5rem;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
    
}
.btn:hover{
    background-color: rgba(206, 194, 194, 0.623);
    transform: scale(1.1);
}
//--------------------------------container end---------------------------------------

//==================================(review start)==========================================
.review{
    display: grid;
    place-items: center;
    height: 100vh;
}
.review-card{
    display: grid;
    place-items: center;
    height: auto;
    width:53vw;
    background:white;
    padding: 2rem;
    box-shadow: -1px 6px 39px -1px rgba(0,0,0,0.75);
    h2{
        text-transform: capitalize;
        padding: 1.5rem 0 .5rem 0;
        letter-spacing: .2rem;
    }
    h4{
        text-transform: uppercase;
        color: rgb(0, 204, 255);
        font-weight: normal;
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }
    p{
        text-align: center;
        font-size: 1.7rem;
        padding: 1rem 1.6rem;
        line-height: 1.6;
        color: rgb(83, 124, 131);
        font-weight:350;
    }
}
.btn2{
    display: flex;
    justify-content: space-between;
    width: 7rem;
}
.btn3{
    background: transparent;
    border: transparent;
    color: rgb(0, 204, 255);
    font-size: 4.5rem;
}
.randome{
    background: rgba(0, 204, 255, 0.068);
    padding: .5rem 1.5rem;
    border: rgb(0, 204, 255) solid .2rem;
    border-radius: 1rem;
    color: rgb(0, 204, 255);
    text-transform: capitalize;
    margin: 1rem;
}
.review-header{
    text-align: center;
    text-transform:capitalize;
    font-size: 3rem;
    letter-spacing: .2rem;
    margin: 0 0 2rem 0;
}
.our{
    color: rgb(0, 204, 255);
    font-size: 3rem;
}
.image-container{
    position: relative;
    width: 150px;
    height: 150px;
    background: rgb(0, 204, 255);
    border-radius: 50%;
    
}
.image-container::after{
    font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 1rem;
  left: -.5rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  background: rgb(0, 204, 255);
  border-radius: 50%;
  color: white;
  z-index: 3;

}
.images{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    right: .6rem;
    z-index:1;
};
//-----------------------------------(review end)-------------------------------------

//===================================(general question)===============================================


.general-question{
    display: grid;
    place-items: center;
    padding: 2rem 30rem 0rem 30rem;
    background: #f0fbfc;
    min-height: 100vh;
    transition: all .3s ease-in-out;
};

.one{
    background: rgb(253, 253, 252);
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.75);
};

.questions{
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    align-items: center;
    padding: 0 2rem;
    transition: all .3s ease-in-out;
}

.general{
    font-family: 'Style Script', cursive;
    font-size: 5rem;
    text-transform: capitalize;
    margin: 0 0 3rem 0;
    transition: all .3s ease-in-out;
}

.question{
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: .3rem;
    font-size: 1.5rem;
    width: 45vw;
    transition: all .3s ease-in-out;
}

.answers{
    font-size: 1.5rem;
    margin: 2rem;
    letter-spacing: .3rem;
    line-height: 1.6;
    border-top:1px rgb(168, 165, 165) solid;
    padding:1rem 0 0 0;
    color: rgb(170, 170, 170);
    transition: all .3s ease-in-out;
}
.question-btn{
    background: transparent;
    border: transparent;
    font-size: 2rem!important;
}

// display-block

.answers{
    display:none;
}
.show-text .answers{
    display:block;
}

.minus-icon{
    display: none   ;
}
.show-text .minus-icon {
    display: block;
  }
  .show-text .plus-icon {
    display: none;
  } 

  @media screen and (max-width: 900px){
      .general-question{
          display: flex;
          flex-direction: column;
          min-height: auto;
        //   align-items: center;
        //   text-align: center;
          
      }
      .general-question{
          padding: 0 16rem;
      }
      .answers{
          transition: all .3s ease-in-out;
      }
  }

//   =====================================tabs===============================================
.tabs{
    display: grid;
    place-items: center;
    background: rgb(255, 255, 255);
    min-height: 100vh;
    padding-bottom: 5rem;
}
.heading-tabs{
    color:rgb(100, 96, 96);
    padding: 5rem;
    h1{
        font-size: 5rem;
        color: black;
        text-transform:capitalize;
        font-weight: bold;
        letter-spacing: .3rem;
        text-align: center;
    }
    p{
        font-size: 1.5rem;
        color: rgb(101, 118, 122);
        padding: 2rem;
    }
}

.tabs-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: 0 4rem;
    img{
        width: 60rem;
        height: 30rem;
        border-radius: 1rem;
    }
}
.description-section{
    display: grid;
    grid-template-rows: auto 1fr;
    background: white;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-top: 0;
    box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.75);
}
.btn-containers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
   .history{
       border-radius: 1rem 0 0 0;
   }
   .goals{
       border-radius: 0 1rem 0 0;
   }
}
.btnss{
    padding: 1.8rem 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    border: transparent;
}
.brief{
    padding: 2rem;
}
.briefs{
    padding: 1.5rem 1rem;
    h2{
        text-transform: capitalize;
        letter-spacing: .2rem;
    }
    p{
        font-size: 1.5rem;
        letter-spacing: .2rem;
        padding-top: 1.2rem;
        line-height: 1.6;
    }
}
.active{
    background-color: white;
}
.hide{
    display: none;
}
.briefs{
    display: none;
}
.show{
    display: block;
}

@media screen and (max-width: 900px){
    .tabs-section{
        display:flex;
        flex-direction: column;
        grid-gap: 0;
        // background-color: gray;
        margin: 0 4rem;
        img{
            width: 90vw;
            height: 35vh;
            padding-bottom: 4rem;
            border-radius: 1rem;
        }
    }
    .tabs{
        display: flex;
        flex-direction: column;
        background: rgb(255, 255, 255);
        min-height: auto;
    }
    .heading-tabs{
        padding: 20px;
    }
}
// -------------------------------------------(tabs-end)---------------------------


// ==================================(lorem start)=================================
.lorem{
    width: 100vw;
    min-height: 100vh;
    // height: auto;    
    
}
.section-center{
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 5rem;
    align-items: center;
    text-align: center;
    h1{
        font-size: 3rem;
        padding-bottom: 3rem;
    }
}
.lorem-form{
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    input{
        width: 5rem;
        border: solid blue .2rem;
    }
}
.lorem-text{
    padding: 5rem 20rem;
    p{
        padding: 2rem;
    }
}

//-----------------------------------(lorem end)-----------------------------------

//====================================(list)=======================================
.grocery{
    display: grid;
    place-items: center;
    background: skyblue;
    min-height: 100vh;
}
.grocery-container{
    background:white;
    width: 40vw;
    min-height: 40vh;
    border-radius: 1rem;
}
.grocery-header{
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: .5rem;
    margin: 5rem 0 2rem 0;
}
.grocery-list{
    display: flex;
    justify-content: space-between;
    // background-color: rgb(218, 218, 218);
    margin: 2rem 3rem;
    font-size: 2rem;
    font-size: normal;
    letter-spacing: .2rem;
}
.button3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .edit-btn{
        background: transparent;
        border: transparent;
        color: green;
        padding: 0rem 1rem;
    }
    .delete-btn{
        background: transparent;
        border: transparent;
        color: red;
    }
}

.clear-item{
    text-align: center;
    color: red;
}
.grocery-form{
    display: flex;
    justify-content: center;
    // width: 100%;
    // background-color: red;
}
#feed{
    width: 38rem;
    border: black .15rem solid;
    border-radius: .3rem;
}
.grocery-text{
    padding: .5rem 2rem ;
    border-radius: 0 1rem 1rem 0;
    background-color: rgb(0, 204, 255);
    border: transparent;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: 'Georama', sans-serif;

}
.grocery-listG{
    display: grid;
    align-items: center;
}


.clear-item{
    visibility: hidden;
    margin: 0 auto;
    background-color: transparent;
    padding: .7rem 1rem;
    font-family:'Georama', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    a{
        color: black;
    }
}

.show .clear-item{
    visibility: visible;
}
footer {
    background: rgb(33, 57, 94);
    padding: 5rem 1rem;
  }
  footer p {
    color: white;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .2rem;
    margin-bottom: 0;
  }
  .top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background:red;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    animation: bounce 2s ease-in-out infinite;
  
    visibility: hidden;
    z-index: -100;
  }
  .show-link {
    visibility: visible;
    z-index: 100;
  }






//------------------------------------(list end)-----------------------------------

































































































